<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
</head>
<body>
<div>
    <h1> Gestión de categorías </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div>
    <div>
        <div>
            <div>

                <div>
                    <h3>Añadir categoría</h3>
                    <form action="/categories" method="POST">
                        <span>Nombre de la categoría</span>
                        <input type="text" name="name" required>
                        <br><br>
                        <button type="submit"> Añadir</button>
                    </form>
                </div>
                <div>
                    <h3>Obtener ALL categorías</h3>
                    <form action="/categories/all" method="GET">
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <h3>Obtener contenido por categorías</h3>
                    <form action="/categories/content" method="GET">
                        <span>ID</span>
                        <input type="number" min=1 name="id_category" required
                               placeholder="id_category 1">
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
