<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulos</title>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5 mb-5"> Gestión de capítulos </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div class="container">
    <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
        <div class="col-md-6 mb-3">

            <div class="card">
                <h3 class="text-center">Añadir capítulo</h3>
                <div class="card-body">
                    <form action="/chapters" method="POST">

                        <p>Nota: Los parámetros con * son obligatorios</p>

                        <span>¿Cuál es el título del capítulo?*</span>
                        <input type="text" class="form-control mb-3" name="title" required>
                        <br></br>

                        <span>¿Cuál es el número del capítulo en la temporada?*</span>
                        <input type="number" class="form-control mb-3" name="chapter_number" required>
                        <br></br>

                        <span>¿Cuál es la duración (en minutos) del capítulo?*</span>
                        <input type="number" min=0 class="form-control mb-3" name="duration" required>
                        <br></br>

                        <span>¿Cuál es la URL del capítulo?</span>
                        <input type="url" class="form-control mb-3" name="url_video">
                        <br></br>

                        <button class="btn btn-primary" type="submit"> Añadir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
