<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulos</title>
</head>
<body>
<div>
    <h1> Gestión de capítulos </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div>
    <div>
        <div>

            <div>
                <h3>Añadir capítulo</h3>
                <div>
                    <form action="/chapters" method="POST">

                        <p>Nota: Los parámetros con * son obligatorios</p>

                        <span>¿Cuál es el título del capítulo?*</span>
                        <input type="text" name="title" required>
                        <br></br>

                        <span>¿Cuál es el número del capítulo en la temporada?*</span>
                        <input type="number" name="chapter_number" required>
                        <br></br>

                        <span>¿Cuál es la duración (en minutos) del capítulo?*</span>
                        <input type="number" min=0 name="duration" required>
                        <br></br>

                        <span>¿Cuál es la URL del capítulo?</span>
                        <input type="url" name="url_video">
                        <br></br>

                        <button type="submit"> Añadir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
