<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes</title>
</head>
<body>
<div>
    <h1> Gestión de personajes </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h3>Añadir personaje</h3>
                    <form action="/characters" method="POST">

                        <p>Nota: Los parámetros con * son obligatorios</p>

                        <span>Nombre*</span>
                        <input type="text" name="name" required><br>
                        <br>

                        <span>Participante asociado*</span>
                        <input type="number" min=1 name="participant" required
                               placeholder="id_participant 1"><br>
                        <br>

                        <span>Edad</span>
                        <input type="number" name="age"><br>
                        <br>

                        <button type="submit"> Guardar</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener todos los personajes</h3>
                    <form action="/characters/all" method="GET">
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
