<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de gestión</title>
</head>
<body>
<div>
    <h1> Gestor: CRUD Medifli Contenidos</h1>
    <h3> Aquí puedes hacer las operaciones CRUD de la API de contenidos </h1>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h4>Selecciona una sección para realizar pruebas</h4>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="/movies">Ir a Películas</a></li>
                            <li><a href="/categories">Ir a Categorías</a></li>
                            <li><a href="/participants">Ir a Participantes</a></li>
                            <li><a href="/trailers">Ir a Tráileres</a></li>
                            <li><a href="/series">Ir a Series</a></li>
                            <li><a href="/chapters">Ir a Capítulos</a></li>
                            <li><a href="/seasons">Ir a Temporadas</a></li>
                            <li><a href="/characters">Ir a Personajes</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
