<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas</title>
</head>
<body>
<div>
    <h1> Gestión de películas </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div>
    <div>
        <div>

            <div>
                <h3>Añadir película</h3>
                <div>
                    <form action="/movies" method="POST">

                        <p>Nota: Los parámetros con * son obligatorios</p>

                        <span>¿Cuál es el título de la película?*</span>
                        <input type="text" name="title" required>
                        <br></br>

                        <span>¿Cuál es la duración (en minutos) de la película?*</span>
                        <input type="number" name="duration" required>
                        <br></br>

                        <span>¿Cuál es la URL de la película?</span>
                        <input type="url" name="url_video">
                        <br></br>

                        <span>¿Cuál es la URL de la portada de la película?</span>
                        <input type="url" name="url_title_page">
                        <br></br>

                        <span>¿Cuál es la fecha de estreno?</span>
                        <input type="date" name="release_date">
                        <br></br>

                        <span>¿Cuál es la sinopsis de la película?</span>
                        <input type="text" name="synopsis">
                        <br></br>

                        <span>¿Cuál es la descripción de la película?</span>
                        <input type="text" name="description">

                        <p>¿Disponible con suscripción?</p>
                        <input type="radio" id="yes" name="is_subscription" value="True">
                        <label for="yes">Sí</label><br>
                        <input type="radio" id="no" name="is_subscription" value="False">
                        <label for="no">No</label><br>

                        <button type="submit"> Añadir</button>
                    </form>
                </div>
            </div>

            <div>
                <h3>Obtener ALL películas</h3>
                <form action="/movies/all" method="GET">
                    <button type="submit"> Buscar</button>
                </form>
            </div>

            <div>
                <h3>Obtener película por título</h3>
                <form action="/movies/title" method="GET">
                    <span>Título</span>
                    <input type="text" name="title" required placeholder="Blade Runner">
                    <button type="submit"> Buscar</button>
                </form>
            </div>

            <div>
                <h3>Obtener personajes de película</h3>
                <div>
                    <form action="/movies/characters" method="GET">
                        <span>ID</span>
                        <input type="text" name="id_movie" placeholder="id_movie 1" required>
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>

            <div>
                <h3>Obtener participantes de película</h3>
                <div>
                    <form action="/movies/participants" method="GET">
                        <span>ID</span>
                        <input type="text" name="id_movie" placeholder="id_movie 1" required>
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
