<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participantes</title>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5 mb-5"> Gestión de participantes </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div class="container">
    <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Añadir participante</h3>
                    <form action="/participants" method="POST">

                        <p>Nota: Los parámetros con * son obligatorios</p>

                        <span>Nombre*</span>
                        <input type="text" class="form-control mb-3" name="name" required><br>
                        <br>

                        <span>Apellidos</span>
                        <input type="text" class="form-control mb-3" name="surname"><br>
                        <br>

                        <span>Edad*</span>
                        <input type="number" min=0 class="form-control mb-3" name="age" required><br>
                        <br>

                        <span>Nacionalidad</span>
                        <input type="text" class="form-control mb-3" name="nationality" placeholder="España"><br>
                        <br>

                        <button class="btn btn-primary" type="submit"> Guardar</button>
                    </form>
                </div>

                <div class="card-header">
                    <h3 class="text-center">Obtener todos los participantes</h3>
                    <form action="/participants/all" method="GET">
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>

                <div class="card-header">
                    <h3 class="text-center">Obtener participantes por nombre</h3>
                    <form action="/participants/getParticipantByName" method="GET">
                        <span>Nombre</span>
                        <input type="text" class="form-control mb-3" name="name" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>

                <div class="card-header">
                    <h3 class="text-center">Obtener participantes por apellidos</h3>
                    <form action="/participants/getParticipantBySurname" method="GET">
                        <span>Apellidos</span>
                        <input type="text" class="form-control mb-3" name="surname" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>

                <div class="card-header">
                    <h3 class="text-center">Obtener participantes por edad</h3>
                    <form action="/participants/getParticipantByAge" method="GET">
                        <span>Edad</span>
                        <input type="number" class="form-control mb-3" min=0 name="age" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>

                <div class="card-header">
                    <h3 class="text-center">Obtener participantes por nacionalidad</h3>
                    <form action="/participants/getParticipantByNationality" method="GET">
                        <span>Nacionalidad</span>
                        <input type="text" class="form-control mb-3" name="nationality" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>

                <div class="card-body">
                    <h3 class="text-center">Obtener contenido por participante</h3>
                    <form action="/participants/content" method="GET">
                        <span>ID</span>
                        <input type="number" min=1 class="form-control mb-3" name="id_participant" required
                               placeholder="id_participant 1">
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
