<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participantes</title>
</head>
<body>
<div>
    <h1> Gestión de participantes </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h3>Añadir participante</h3>
                    <form action="/participants" method="POST">

                        <p>Nota: Los parámetros con * son obligatorios</p>

                        <span>Nombre*</span>
                        <input type="text" name="name" required><br>
                        <br>

                        <span>Apellidos</span>
                        <input type="text" name="surname"><br>
                        <br>

                        <span>Edad*</span>
                        <input type="number" min=0 name="age" required><br>
                        <br>

                        <span>Nacionalidad</span>
                        <input type="text" name="nationality" placeholder="España"><br>
                        <br>

                        <button type="submit"> Guardar</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener todos los participantes</h3>
                    <form action="/participants/all" method="GET">
                        <button type="submit"> Buscar</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener participantes por nombre</h3>
                    <form action="/participants/getParticipantByName" method="GET">
                        <span>Nombre</span>
                        <input type="text" name="name" required>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener participantes por apellidos</h3>
                    <form action="/participants/getParticipantBySurname" method="GET">
                        <span>Apellidos</span>
                        <input type="text" name="surname" required>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener participantes por edad</h3>
                    <form action="/participants/getParticipantByAge" method="GET">
                        <span>Edad</span>
                        <input type="number" min=0 name="age" required>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener participantes por nacionalidad</h3>
                    <form action="/participants/getParticipantByNationality" method="GET">
                        <span>Nacionalidad</span>
                        <input type="text" name="nationality" required>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener contenido por participante</h3>
                    <form action="/participants/content" method="GET">
                        <span>ID</span>
                        <input type="number" min=1 name="id_participant" required
                               placeholder="id_participant 1">
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
