<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporadas</title>
</head>
<body>
<div>
    <h1> Gestión de temporadas </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div>
    <div>
        <div>

            <div>
                <h3>Añadir temporada</h3>
                <div>
                    <form action="/seasons" method="POST">

                        <p>Nota: Los parámetros con * son obligatorios</p>

                        <span>¿A qué series pertenece?*</span>
                        <input type="number" min=1 name="id_series" required placeholder="id_series 1">
                        <br></br>

                        <span>¿Cuál es el título de la temporada?*</span>
                        <input type="text" name="title" required>
                        <br></br>

                        <span>¿Cuál es el número de la temporada en la series?*</span>
                        <input type="number" min=0 name="season_number" required>
                        <br>

                        <button type="submit"> Añadir</button>
                    </form>
                </div>
            </div>

            <div>
                <h3>Obtener capítulos de una temporada</h3>
                <div>
                    <form action="/seasons/chapters" method="GET">
                        <span>ID</span>
                        <input type="text" min=1 name="id_season" required
                               placeholder="id_season 1">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>

            <div>
                <h3>Obtener personajes de una temporada</h3>
                <div>
                    <form action="/seasons/characters" method="GET">
                        <span>ID</span>
                        <input type="text" min=1 name="id_season" required
                               placeholder="id_season 1">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>

            <div>
                <h3>Obtener participantes de una temporada</h3>
                <div>
                    <form action="/seasons/participants" method="GET">
                        <span>ID</span>
                        <input type="text" min=1 name="id_season" required
                               placeholder="id_season 1">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
