<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>
</head>
<body>
<div>
    <h1> Gestión de series </h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>
<div>
    <div>
        <div>
            <div>
                <h3>Añadir series</h3>
            </div>

            <div>
                <form action="/series" method="POST">

                    <p>Nota: Los parámetros con * son obligatorios</p>

                    <span>Título*</span>
                    <input type="text" name="title" required>
                    <br></br>
                    <span>Duración (en minutos)*</span>
                    <input type="number" min=0 name="duration" required>

                    <p>Disponible con suscripción</p>
                    <input type="radio" id="yes" name="is_subscription" value="True">
                    <label for="yes">Sí</label><br>
                    <input type="radio" id="no" name="is_subscription" value="False">
                    <label for="no">No</label><br>

                    <span>URL de la portada de la película</span>
                    <input type="url" name="url_title_page">
                    <br></br>

                    <span>Fecha de estreno</span>
                    <input type="date" name="release_date">
                    <br></br>

                    <span>Sinopsis de la película</span>
                    <input type="text" name="synopsis">
                    <br></br>

                    <span>Descripción de la película</span>
                    <input type="text" name="description">
                    <br></br>

                    <button type="submit"> Añadir</button>
                </form>
            </div>

            <div>
                <h3>Obtener ALL series</h3>
                <form action="/series/all" method="GET">
                    <button type="submit"> Buscar</button>
                </form>
            </div>

            <div>
                <h3>Obtener series por título</h3>
                <form action="/series/title" method="GET">
                    <span>Título</span>
                    <input type="text" name="title" required placeholder="Stranger Things">
                    <button type="submit"> Buscar</button>
                </form>
            </div>

            <div>
                <h3>Obtener capítulos de series</h3>
                <div>
                    <form action="/series/chapters" method="GET">
                        <span>ID</span>
                        <input type="text" min=1 name="id_series" required
                               placeholder="id_series 1">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>
            <div>
                <h3>Obtener personajes de una series</h3>
                <div>
                    <form action="/series/characters" method="GET">
                        <span>ID</span>
                        <input type="text" name="id_series" min="1" placeholder="id_series 1"
                               required>
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>

            <div>
                <h3>Obtener participantes de una series</h3>
                <div>
                    <form action="/series/participants" method="GET">
                        <span>ID</span>
                        <input type="text" name="id_series" min="1" placeholder="id_series 1"
                               required>
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
