<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1> MedifliStats - ProfileUsers</h1>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h5>Insertar ProfileUser</h5>
                </div>
                <div>
                    <form action="/profiles" method="POST">
                        <label>Nombre del Profile
                            <input type="text" name="name" required>
                            <br><br>
                        </label>
                        <label>PIN del Profile
                            <input type="number" name="pin" required>
                            <br><br>
                        </label>
                        <label>¿A qué usuario se asocia este perfil?
                            <input type="number" name="iduser" required>
                            <br><br>
                        </label>
                        <label>¿Qué idioma quieres usar?
                            <input type="number" name="id_language" required>
                            <br><br>
                        </label>
                        <button type="submit"> Añadir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>