<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1> MedifliStats - Reviews</h1>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h5>Insertar Review</h5>
                </div>
                <div>
                    <form action="/reviews" method="POST">
                        <label>¿Desde qué perfil estás creando la Review?
                            <input type="number" name="idprofile" required>
                            <br><br>
                        </label>
                        <label>¿De qué contenido quieres hacer la Review?
                            <input type="number" name="id_content" required>
                            <br><br>
                        </label>
                        <label>¿Qué valoración le pones?
                            <input type="number" name="rating" min="1" max="10" required>
                            <br><br>
                        </label>   
                        <label>¿Quieres añadir un comentario?
                            <input type="text" name="commentary">
                            <br><br>
                        </label>
                        <label for="content_type">Elige el tipo de contenido:
                            <select name="content_type" id="content_type">
                                {% for name, value in content_types %}
                                <option value="{{ value }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                        </label>
                        <button type="submit"> Añadir</button>
                    </form>
                </div>

                <div>
                    <h3>Obtener Review por Id</h3>
                </div>
                <div>
                    <form action="/reviews/{id_review}" method="GET">
                        <label>¿Qué Review deseas buscar?
                            <input type="number" name="id_review" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <h3>Resto de búsquedas de reviews</h3>
                </div>
                <div>
                    <form action="/reviews/contents" method="GET">
                        <label>¿Sobre qué contenido deseas buscar la Review?
                            <input type="number" name="id_content" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <form action="/reviews/profiles" method="GET">
                        <label>¿Sobre qué perfil deseas buscar la Review?
                            <input type="number" name="idprofile" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <form action="/reviews/ratings" method="GET">
                        <label>¿Sobre qué valoración deseas buscar la Review?
                            <input type="number" name="rating" max="10" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <form action="/reviews/minrating" method="GET">
                        <label>¿Sobre qué valoración mínima deseas buscar la Review?
                            <input type="number" name="rating" max="10" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <form action="/reviews/maxrating" method="GET">
                        <label>¿Sobre qué valoración máxima deseas buscar la Review?
                            <input type="number" name="rating" max="10" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <form action="/reviews/comments" method="GET">
                        <label>Listar todas las valoraciones con comentarios</label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <form action="/reviews/nocomments" method="GET">
                        <label>Listar todas las valoraciones sin comentarios</label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <h3>Obtener estadísticas de Reviews</h3>
                </div>
                <div>
                    <form action="/reviews/stats" method="GET">
                        <label>¿Sobre qué contenido deseas buscar la Review?
                            <input type="number" name="id_content" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>