<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1> MedifliStats - Users</h1>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h5>Insertar User</h5>
                </div>
                <div>
                    <form action="/users" method="POST">
                        <label>ID del User
                            <input type="number" name="iduser" required>
                            <br><br>
                        </label>
                        <label>Nombre de usuario
                            <input type="text" name="username" required>
                            <br><br>
                        </label>
                        <label>Email
                            <input type="email" name="email" required>
                            <br><br>
                        </label>
                        <label>Contraseña
                            <input type="password" name="password" required>
                            <br><br>
                        </label>
                        <button type="submit"> Añadir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>