<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1> MedifliStats - Views</h1>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h5>Insertar Views</h5>
                </div>
                <div>
                    <form action="/views" method="POST">
                        <label>¿Desde qué perfil estás creando la View?
                            <input type="number" name="idprofile" required>
                            <br><br>
                        </label>
                        <label>¿De qué contenido quieres hacer la View?
                            <input type="number" name="id_content" required>
                            <br><br>
                        </label>
                        <label for="content_type">Elige el tipo de contenido:
                            <select name="content_type" id="content_type">
                                {% for name, value in content_types %}
                                <option value="{{ value }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                        </label>
                        <label>¿Cuándo has empezado a verlo?
                            <input type="date" id="date_init" name="date_init" required>
                            <br><br>
                        </label>
                        <label>¿Cuándo has terminado de verlo?(Opcional)
                            <input type="date" id="date_finish" name="date_finish">
                            <br><br>
                        </label>
                        <button type="submit"> Añadir</button>
                    </form>
                </div>
                <div>
                    <h3>Obtener ALL Views</h3>
                </div>
                <div>
                    <form action="/views/all" method="GET">
                        <label>Listar todas las views</label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <h3>Obtener View por Id</h3>
                </div>
                <div>
                    <form action="/views/{id_view}" method="GET">
                        <label>¿Qué view deseas buscar?
                            <input type="number" name="id_view" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <h3>Resto de búsquedas de Views</h3>
                </div>
                <div>
                    <form action="/views/contents" method="GET">
                        <label>¿Sobre qué contenido deseas buscar la View?
                            <input type="number" name="id_content" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <form action="/views/profiles" method="GET">
                        <label>¿Sobre qué perfil deseas buscar la View?
                            <input type="number" name="idprofile" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
                <div>
                    <h3>Obtener estadísticas de Views</h3>
                </div>
                <div>
                    <form action="/views/stats" method="GET">
                        <label>¿Sobre qué contenido deseas buscar la View?
                            <input type="number" name="id_content" required>
                        </label>
                        <button type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>