<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5 mb-5"> Gestor: CRUD Medifli Stats</h1>
    <h3 class="text-center mt-5 mb-5"> Aquí puede hacer las operaciones CRUD de la API de estadísticas </h1>
</div>
<div class="container">
    <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Seleccione una ruta para insertar datos</h5>
                </div>
                <div class="card-body">
                    <nav>
                        <ul>
                            <li><a href="/languages">Ir a Languages</a></li>
                            <li><a href="/profiles">Ir a Profile Users</a></li>
                            <li><a href="/reviews">Ir a Reviews</a></li>
                            <li><a href="/users">Ir a Users</a></li>
                            <li><a href="/views">Ir a Views</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>