<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1> Gestor: CRUD Medifli Stats</h1>
    <h3> Aquí puede hacer las operaciones CRUD de la API de estadísticas </h1>
</div>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h5>Seleccione una ruta para insertar datos</h5>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="/languages">Ir a Languages</a></li>
                            <li><a href="/profiles">Ir a Profile Users</a></li>
                            <li><a href="/reviews">Ir a Reviews</a></li>
                            <li><a href="/users">Ir a Users</a></li>
                            <li><a href="/views">Ir a Views</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>