<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gestión Mediflí</title>
</head>
<body>
<div>
    <h1> Gestor: CRUD Mediflí</h1>
</div>
<div>
    <nav>
        <h2> Usuarios </h2>
        <ul>
            <li><a href="/signup">Registrarse</a></li>
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/users">Ir a Usuarios</a></li>
            <li><a href="/profiles">Ir a Perfiles</a></li>
        </ul>
    </nav>

    <nav>
        <h2> Contenidos </h2>
        <ul>
            <li><a href="/movies">Ir a Películas</a></li>
            <li><a href="/series">Ir a Series</a></li>
            <li><a href="/seasons">Ir a Temporadas</a></li>
            <li><a href="/chapters">Ir a Capítulos</a></li>
            <li><a href="/trailers">Ir a Tráileres</a></li>
            <li><a href="/categories">Ir a Categorías</a></li>
            <li><a href="/participants">Ir a Participantes</a></li>
            <li><a href="/characters">Ir a Personajes</a></li>
        </ul>
    </nav>

    <nav>
        <h2> Estadísticas </h2>
        <ul>
            <li><a href="/languages">Ir a Idiomas</a></li>
            <li><a href="/reviews">Ir a Valoraciones</a></li>
            <li><a href="/views">Ir a Visualizaciones</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
