<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis perfiles</title>
</head>
<body>
    <div>
        <h1>Mis perfiles</h1>
        <div>
            {% for profile in profiles %}
                <div>
                    <h2>{{ profile.profilename }}</h2>
                    <form method="post" action="{{ url_for('auth.delete_profile', idprofile=profile.id) }}">
                        <input type="submit" value="Borrar perfil">
                    </form>
                </div>
            {% endfor %}
        </div>

        <div>
            <h2>Nuevo perfil</h2>
            <form method="post" action="/myprofile/create">
                <div>
                    <label for="profilename">Nombre de perfil:</label>
                    <input type="text" id="profilename" name="profilename" placeholder="Introduce tu nombre" required>
                </div>
                <div>
                    <label for="pin">PIN:</label>
                    <input type="number" id="pin" name="pin" placeholder="Introduce tu pin" required>
                </div>
                <div>
                    <input type="submit" value="Crear perfil">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
