<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Edición de Capítulos</title>
</head>
<body>
    <p><a href="/">Volver al menú de gestión</a></p>
<div>
    <h2>Editar capítulo</h2>
    <form action="/chapters/update/" method="POST">
        <label>ID*: 
            <input name="id_chapter" required type="text" value="{{ chapter.id_chapter }}" readonly>
        </label><br>
        <label>Título: 
            <input name="title" type="text" value="{{ chapter.title }}">
        </label><br>
        <label>Duración (minutos): 
            <input name="duration" type="number" value="{{ chapter.duration }}">
        </label><br>
        <label>¿Cuál es el número del capítulo en la temporada?
            <input name="chapter_number" type="number" value="{{ chapter.chapter_number }}">
        </label>
        <br><br>
        <button type="submit">Editar</button>
    </form>
</div>

</body>
</html>
